h1,h2,h3,h4,h6
{
    margin: 0;
    padding: 0;
    font-weight: lighter;
}
h1
{
    font-size: 36px;
}
h2
{
    color: red;
}
h5
{
    color: rgb(180, 20, 20);
    margin-bottom: 0;
}
main
{
    width: 880px;
    margin: auto;
}
section
{
    overflow: hidden;
}
article {
    width: 64%;
    float: left;
    font-size: 18px;
}
figure
{
    float: right;
}
figure>img {
    width: 210px;
    height: 200px;
    border-radius: 15px;
}
article[class="fullWidth"]
{
    width: 100% !important;
}
/* Centered Image CSS */
figure[class="centeredImage"]
{
    margin: auto;
    width: 100%;
}
figure[class="centeredImage"] img
{
    width: 82%;
    height: 100%;
}
/* Box CSS */
.box
{
    background-color: rgb(180, 20, 20);
    border-radius: 10px;
    width: 9%;
    text-align: center;
    padding: 8px;
    float: left;
}
.insideBox
{
    margin: auto;
    border: 1px solid white;
}
.insideBox h4
{
    background: #fff;
    color: #000;
    width: 60%;
    padding: 8px 4px;
    margin: 5px auto 0 auto;
    border-radius: 8px;
}
.insideBox h6
{
    color: white;
    padding: 2px 0; 
}
.headingWithBackground
{
    width: 86%;
    float: right;
    background-color: rgb(180, 20, 20);
    border-radius: 10px;
    color: white;
    padding: 27px 10px;
}
/* Double Figure and Image Starts*/
section[class="doubleFigureImage"] article
{
    width: 42%;
}
section[class="doubleFigureImage"] figure:nth-child(2)
{
    margin-right:0;
    float: left;
}
section[class="doubleFigureImage"] figure:nth-child(3)
{
    margin-right: 0;
}
section[class="doubleFigureImage"] figure img
{
    border-radius: 10px 10px 0 0;
}
/* List */
ul[class="leftList"]
{
    width: 50%;
    float: left;
}
/* Font Awesome */
.fa-my
{
    font-size: 3.4em !important;
    color: #fff;
}