@import url("normalize.css");

div, h1 , figure
{
    margin: 0;
    padding: 0;
}
.container
{
    margin: auto;
    width: 1170px;
}
header > div > figure
{
    margin-top: 42px;
    padding: 0;
}
ul
{
    margin: 0;
    padding: 0;
}
li
{
    margin: 0;
}
header
{
    overflow: hidden;
    background-color: aqua;
}
header > div
{
    width: 240px;
    float: left;
}
header > nav
{
    float: right;
}
header > nav > ul > li
{
    float: left;
    list-style: none;
}
header > nav > ul > li > a
{
    display: inline-block;
    color: #404040;
    font-size: 14px;
    text-decoration: none;
    padding: 50px 10px;
    font-weight: bolder;
    text-transform: uppercase;
}
header > nav > ul > li > a:hover
{
    color: #fffcf4;
    background-color: #ff3300;
}
.active > a
{
    background-color: #ff3300;
    color: #fffcf4;
}
header > .logo > span
{
    font-size: 36px;
}
section
{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section > div
{
    width: 30%;
    margin-left: 8%;
    padding: 265px 0 174px 0;
}
section > div > h1
{
    color: #fffcf4;
    font-size: 36px;
    padding-top: 10px;
}
section > div > p
{
    font-size: 12px;
    color: #fffcf4;
}
section > div > a
{
    color: #fffcf4;
    background: #ff3300;
    padding: 10px 15px;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    margin-top: 27px;
    border-radius: 3px;
}