.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #040404;
  color: #fefbfc;   
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #87d37c;
  color: #fefbfc; 
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}
