@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('all.min.css');
@import url('isotope.css');


/*Global CSS*/

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    background-color: #fdfaf8;
    font-family: 'Roboto', sans-serif;
}
section{
    padding-top: 115px;
    padding-bottom: 120px;
}
.container{
    width: 1170px;
    margin: auto;
}
.row, .grid{
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}

.col-3{
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
    float: left;
    width: 33.33333%;
    padding-left: 15px;
    padding-right: 15px;
}

figure, p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h4{
    color: #040404;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

section > .container > p{
    color: #262627;
    font-size: 18px;
    text-align: center;
    line-height: 1.6em;
}
section > .container > p:nth-of-type(2){
    margin-bottom: 70px;
}

a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.btn{
    width: 115px;
    background-color: #fefdfc;
    display: inline-block;
    padding: 14px 12px;
    font-size: 14px;
    text-transform: uppercase;
}
/*Style for Header*/
header{
    padding-top: 20px;
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
header > .container{
    overflow: hidden;
}

header > .container > figure{
    float: left;
    margin-top: 15px;
}

header > .container > nav{
    float: right;
    margin-top: 45px;
    margin-bottom: 150px;
}

header > .container > nav > ul > li{
    display: inline-block;
    margin-right: 20px;
}

header > .container > nav > ul > li > a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
header > .container > nav > ul > li > a:hover{
    color: #87d37c;
}
header > .container > nav > ul > .active > a{
    color: #87d37c;
}

header > .container > div{
    clear: both;
    margin-bottom: 200px;
}

header > .container > div > h1{
    color: #fefbfc;
    font-size: 96px;
    width: 655px;
    padding: 35px;
    border: 3px solid #fdfdfd;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}
header > .container > div > h1 > span{
    color: #87d37c;
}
header > .container > div > h2{
    color: #FFFFFF;
    font-size: 40px;
}
header > .container > div > h3{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: normal;
}

/*Style for About Us*/
#aboutUs{
    background-color: #fdfafa;
    color: #040404;
}

#aboutUs > .container > .row > .col-3 > p:nth-last-of-type(1){
    text-align: justify;
}
#aboutUs > .container > .row > .col-3 > h5
{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 1.25em;
}
#aboutUs > .container > .row > .col-3:hover p:first-child, #aboutUs > .container > .row > .col-3:hover h5
{
    color: #87d37c;
}
/*Style for Services*/
#services
{
    background-color: #e1e1e1;
    color: #040404;
}
/*Style for our pricing*/
#ourPricing
{
    background-color: #fdfafa;
    color: #fefdfc;
}
#ourPricing > .container > .row > .col-3 > div
{
    background-color: #39393a;
    padding: 25px 60px;
    width: 250px;
    margin: auto;
}
#ourPricing > .container > .row > .col-3 > div > h6
{
    height: 125px;
    width: 125px;
    font-size: 26px;
    border-radius: 100%;
    border: 2px solid #fefbfc;
    padding: 30px 0;
    margin: auto;
}
#ourPricing > .container > .row > .col-3 > div > h6 > span
{
    display: block;
}
#ourPricing > .container > .row > .col-3 > div > p
{
    margin: 25px auto;
    padding-bottom: 8px;
    font-size: 14px;
    border-bottom: 1px solid #fefbfc;
    width: 115px;
}
#ourPricing > .container > .row > .col-3 > div > p:nth-last-of-type(1)
{
    margin-bottom: 25px;
}
#ourPricing > .container > .row > .col-3 > div:hover
{
    background-color: #87d37c;
}
#ourPricing > .container > .row > .col-3 > div:hover h6
{
    background-color: #ffffff;
    color: #87d37c;
}
#ourPricing > .container > .row > .col-3 > div:hover .btn
{
    background-color: #fefdfc;
    color: #87d37c;
}
/* CSS for Portfolio */
.grid > .portfolio-img > figure > img
{
    width: 100%;
    margin-bottom: 20px;
}
#filters
{
    margin-bottom: 15px;
}
