div:first-child{
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 1px solid #0000dd;
    margin: 30px;
}

div:last-child{
    width: 300px;
    height: 100px;
    padding: 20px;
    border: 1px solid #0000dd;
    margin: 30px;
    box-sizing: border-box;
}