@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0;
}
.container {
    width: 1170px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

figure{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
}

/*Style for Header*/
header{
    background-color: #f9f9f9;
}
header > .container{
    overflow: hidden;
}
header > .container > figure{
    float: left;
}

header figure > figcaption{
    position: relative;
    bottom: 50px;
    left: 98px;
}
header > .container > nav{
    float: right;
    padding-top: 35px;
}

header > .container > nav > ul > li{
    display: inline-block;
    margin-right: 50px;
}
header > .container > nav > ul > li > a{
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/*Style for Banner*/

section{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section > h1{
    color: #ffffff;
    font-size: 50px;
    padding-top: 240px;
    padding-bottom: 20px;
}
section > h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 280px;
}
