@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body
{
    margin: 0;
    padding: 0;
}
.container
{
    width: 1170px;
    margin: auto;
}
header
{
    overflow: hidden;
    background-color: aquamarine;
}
main > header > div
{
    width: 150px;
    float: left;
    position: relative;
}

main > header > div > h3
{
    width: 100px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 37px;
    left: 103px;
}
main > header > nav
{
    float: right;
    margin-top: 25px;
}
main > header > nav > ul > li
{
    float: left;
    list-style: none;
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
}
main > header > nav > ul > li a
{
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
main > header > nav > ul > li a:hover
{
    color: blue;
    text-decoration: underline;
}

section
{
    /*font-family: open sans;*/
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 610px;
    font-family: 'Open Sans', sans-serif;
}
.text-center
{
    text-align: center;
}
section h1
{
    padding-top: 250px;
    color: #fff;
    font-size: 50px;
    margin: 0;
}
section h2
{
    color: #f9f9f9;
    font-size: 40px;
    margin: 0;
    font-weight: lighter;
}

