#container
{
    margin: 0 auto;
    width: 720px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.39);
    position: relative;
    height: 430px;
}
.newsSection a
{
    color: #000;   
    text-decoration: none;
}
.newsSection h4 a
{
    text-transform: uppercase;
    margin-left: 40px;
}

.newsSection a:active
{
    color: red;
}
.newsSection a:hover
{
    color: rgb(25, 197, 197);
}
.newsSection a:visited
{
    color: rgb(230, 20, 178);
}
.newsSection
{
    border-right: 1px solid rgba(128, 128, 128, 0.39);
    width: 370px;
}
div:nth-child(1)
{ 
    position: absolute;
    top: 0;
    left: 0;
}
div:nth-child(2)
{
    position: absolute;
    top: 0;
    right: 0;
}