@charset "utf-8";
/* CSS Document */
h1::before{
    content: "{";
    color: #ff0000;
    font-size: 36px;
}
p::before{
    content: "Read this-";
    font-weight: 900;
    color: #3366FF;
}
h2::before{
    content: url("img/index.jpg");
}

h1::after{
    content: "}";
    color: #ff0000;
    font-size: 36px;
}






















