h1::before{
    content: "{";
    color: #100fff;
    font-weight: bold;
    font-size: 36px;
}

p::before{
    content: "Read this-";
    font-size: 32px;
    color: #100fff;
}
h2::before{
    content: url("img/images.jpg");
}
h1::after{
    content: "}";
    color: #100fff;
    font-weight: bold;
    font-size: 36px;
}