/* CSS Document */


#content{
    background-color: #6db9ff;
    width: 200px;
    padding: 30px;
   /* padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 10px;*/
    /*padding: 20px 30px 35px 10px;*/
   /* padding: 20px 30px 35px;*/
     /*padding: 20px 0 35px 30px;*/
   /* padding: 20px 30px;*/
    border: 3px solid #ff0000;
    /*border-top: 3px solid #ff0000;*/
   /* border-right: 3px solid #ff0000;*/
    /*border-bottom: 3px solid #ff0000;*/
   /* border-left: 3px solid #ff0000;*/
    /*border-width: 1px;*/
   /* border-bottom-color: #4c1e2a;*/
   /* border-bottom-style: dashed;*/
    /*margin: 50px;*/
   /* margin-top: 20px;*/
   /* margin-right: 30px;*/
   /* margin-bottom: 40px;*/
   /* margin-left: 50px;*/
    /*margin: 20px 30px 40px 50px;*/
    /*margin: 20px 30px 40px;*/
   /* margin: 20px 40px;*/
    margin: auto;

}








































	 


