section
{
  width: 1026px;
  margin: auto;
  background-color: rgba(10, 148, 90, 0.671);
  height: 540px;
}
h3
{
    width: 312px;
    margin-top: 5px;
}
p{
    background-color: chocolate;
}
a
{
    color: rgb(2, 8, 22);
    text-decoration: none;
}
a:hover
{
    color: blue;
    text-decoration: underline;
}
figure
{
    position: absolute;
    width: 312px;
    top: 0;
    margin: 0;
    padding: 0 15px;
}
div:first-child
{
    position: relative;
    top: 10px;
    height: 260px;
    border-bottom: 1px solid grey;
}
div:last-child
{
    position: relative;
    top: 30px;
    height: 250px;

}
div:first-child figure:first-child, div:last-child figure:first-child
{
    left: 0;
}
div:first-child figure:nth-child(2), div:last-child figure:nth-child(2)
{
    left: 342px;
}
div:first-child figure:last-child, div:last-child figure:last-child
{
    right: 0;
}