#content
{
    margin: 0 auto;
    width: 450px;
}
#div-before
{
    background-color: rgb(235, 195, 16);
}
p
{
    margin: 0;
    padding: 5px;
}
#div-1
{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: #fff;
    position: relative;
}
#div-1a
{
    background-color: rgb(202, 20, 20);   
}
#div-1b
{
    background-color: rgb(124, 177, 46);   
    position: absolute;
    width: 420px; 
    /* top: 350px; */
    /* left: 30px; */

}
#div-1c
{
    background-color: blue;    
}
#div-after
{
    background-color: skyblue;

}