#container
{
    width: 400px;
    margin: 0 auto;
}
#div-before
{
    background-color: rgb(235, 195, 16);
}
p
{
    margin: 0;
    padding: 5px;
}
#div-1
{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    color: #fff;
    position: relative;
}
#div-1a
{
    background-color: rgb(202, 20, 20);   
    position: absolute;
    width: 200px;
    top: 0;
    left: 0;
}
#div-1b
{
    background-color: rgb(124, 177, 46);   
    position: absolute;
    width: 200px;
    top: 0;
    right: 0;
}
#div-after
{
    background-color: skyblue;
    position: relative;
    top: 116px;
}
