section
{
    width: 700px;
    height: 450px;
    color: #000;
    margin: 0 auto;
    position: relative;
    /* background: rgb(185, 185, 135); */
    border-bottom: 1px solid grey;
}
a
{
    color: #000;
    text-decoration: none;
}
a:hover
{
    color: rgb(78, 17, 190);
}
a:active
{
    color: rgb(190, 17, 17);
}
div
{
    border-right: 1px solid grey;
    padding: 18px;
}
h2
{
    width: 230px;
}
p
{
    text-align: justify
}
div[id="shift"]
{
    position: absolute;
    width: 312px;
    top: 0;
    left: 0;
    /* background-color: aquamarine; */
}
div[id="artsAndEntertainment"]
{
    position: absolute;
    width: 312px;
    top: 0;
    right: 0;
    /* background-color: rgb(129, 17, 36) */
}
