p{
    font-size: 24px;
}

section{
    width: 800px;
    height: 600px;
    margin: auto;
    background-color: #d8ffd7;
    background-image: url("img/coniglio_rabbit_small.svg");
    background-repeat: no-repeat;
   /* background-position: top left;*/
   /* background-position: top center;*/
    /*background-position: top right;*/
    /* background-position: center left;*/
     background-position: center center;
    /*background-position: center right;*/
    /* background-position: left;*/
    /* background-position: right 20px bottom 10px;*/

}





















