@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');



/*Global CSS*/
body{
    background-color: #fdfaf8;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1170px;
    margin: auto;
}

figure{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}

/*Style for Header*/
header{
    padding-top: 20px;
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > .container{
    overflow: hidden;
}

header > .container > figure{
    float: left;
    margin-top: 15px;
}

header > .container > nav{
    float: right;
    margin-top: 45px;
    margin-bottom: 150px;
}

header > .container > nav > ul > li{
    display: inline-block;
    margin-right: 20px;
}

header > .container > nav > ul > li > a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
header > .container > nav > ul > li > a:hover{
    color: #87d37c;
}
header > .container > nav > ul > .active > a{
    color: #87d37c;
}

header > .container > div{
    clear: both;
    margin-bottom: 200px;
}

header > .container > div > h1{
    color: #fefbfc;
    font-size: 96px;
    width: 585px;
    padding: 35px;
    border: 3px solid #fdfdfd;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

header > .container > div > h2{
    color: #FFFFFF;
    font-size: 40px;
}
header > .container > div > h3{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: normal;
}







/*
@import url('normalize.css');
@import url('all.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    background-color: #fdfafa;
    font-family: 'Roboto', sans-serif;
}

*,*::before,*::after{
    box-sizing: border-box;
}

.container{
    width: 1170px;
    margin: auto;
}

section{
    padding-top: 115px;
    padding-bottom: 122px;
}

section > .container > p{
    font-size: 18px;
    text-align: center;
    line-height: 25px;
}
section > .container > p:nth-of-type(2){
    margin-bottom: 70px;
}

h1, h2, h3, h4, h5, h6, p, figure{
    margin: 0;
}
h3{
    color: #040404;
    font-size: 36px;
    text-align: center;
    padding-bottom: 35px;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
    display: inline-block;
}
a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.row{
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}

.col-3{
    float: left;
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.col-4{
    float: left;
    width: 33.3333%;
    padding-left: 15px;
    padding-right: 15px;
}

.btn{
    background-color: #010101;
    color: #fdfdfe;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.btn:hover{
    background-color: #87d37c;
}

.btn-group{
    margin-top: 1em;
    margin-bottom: 2em;
}


!*Style for header*!

header {
    background-image: url(../img/banner.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}

header > .container{
    overflow: hidden;
}

header > .container > figure{
    float: left;
    margin-top: 15px;
}
header > .container > nav{
    float: right;
    margin-top: 48px;
    margin-bottom: 150px;
}
header > .container > nav > ul > li{
    margin-right: 20px;
}
header > .container > nav > ul > li > a{
    color: #FFFFFF;
    font-size: 18px;
}
header > .container > nav > ul > li > a:hover{
    color: #87d37c;
}

header > .container > nav > ul > .active > a{
    color: #87d37c;
}
header > .container > div{
    clear: both;
    color: #FFFFFF;
    padding-bottom: 200px;
}
header > .container > div > h1{
    font-size: 98px;
    border: 2px solid #FFFFFF;
    padding: 35px;
    width: 670px;
    margin: auto;
}
header > .container > div > h1 > span{
    color: #87d37c;
}

header > .container > div > h2{
    font-size: 40px;
}
header > .container > div > h3{
    font-size: 36px;
    font-weight: normal;
}

!*Style for About Us Section*!

#aboutUs p:last-child{
    text-align: justify;
    font-size: 14px;
    line-height: 2em;
}

#aboutUs > .container > .row > .col-3 > h4{
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
}
#aboutUs > .container > .row > .col-3:hover > h4, #aboutUs > .container > .row > .col-3:hover > p:first-child{
    color: #87d37c;
}

!*Style for Services Section*!

#services{
    background-color: #e1e1e1;
}

!*Style for Portfolio Section*!

*/
