main
{
    width:630px;
    margin: auto;
    background-color: aqua;
}
section
{
    overflow: hidden;
}
figure, div, figcaption
{
    margin: 0;
    padding: 0;
}
figcaption
{
    width: 150px;
}
h3
{
    margin: 0;
    padding: 12px 0;
}
a
{
    color: #000;
    text-decoration: none;
}
a:hover
{
    color: blue;
    text-decoration: underline;
}
div>h3
{
    width: 180px;
}
div>h3>a
{
    text-transform: uppercase;
}
h3>a
{
    /*text-transform: capitalize;*/
}
section div
{
    width: 210px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid grey;
    padding: 0 25px;
}
section div:last-child
{
    border-right: none;
}
section div:first-child, section div:nth-child(2)
{
    float: left;
}
section div:last-child
{
    float: right;
}
