#main{
    background-color: #ceece2;
    width: 560px;
    margin: auto;
}
figure{
    margin: 0;
}
#main > section{
    position: relative;
    /*height: 300px;*/
}
#main > section > figure:first-child{
    position: absolute;
    width: 155px;
    left: 15px;
    top: 15px;
}
#main > section > figure:nth-child(2){
    position: absolute;
    width: 154px;
    left: 200px;
    top: 15px;
}
#main > section > figure:last-child{
    position: absolute;
    width: 154px;
    right: 15px;
    top: 15px;
}
