main {
    width:570px;
    margin: auto;
    background-color: aqua;
    padding: 20px;
}
figure {
    margin: 0;
}
h3 {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 60px;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover{
    color: blue;
    text-decoration: underline;
}

main > section{
    overflow: hidden;
}
main > section > div{
    float: left;
    width: 162px;
}

main > section > div:first-child,main > section > div:nth-child(2) {
    padding-right: 20px;
    border-right: 1px solid #626262;
}
main > section > div:nth-child(2),main > section > div:last-child {
    padding-left: 20px;
}

