#content{
    margin:0 auto;
    width:400px;
}
p{
    margin:0;
    padding:5px;
}
#div-before{
    background-color:#F90;
}
#div-1{
    background-color:#000;
    color:#FFF;
    padding:15px;
    position: relative;
}
#div-1a{background-color:#F33;
}
#div-1b {
    background-color: #0C3;
    position: absolute;
     width: 370px;
     top: 350px;
    /*left: 30px;*/
}

#div-1c{background-color:#0066FF;
}

#div-after{background-color:#69F;
}

