h1::before
{
    content: "*_*";
    color:blueviolet;
    font-weight: lighter;
    font-size: 110px;
}
p::before
{
    content: "Read This => ";
    color: rgba(43, 86, 226, 0.712);
    font-weight: bolder;
}
h2::before
{
    content: url("../img/logo.png");
}
h1::after
{
    content: "*_*";
    color:blueviolet;
    font-weight: lighter;
    font-size: 20px;
}
#content
{
    background-color: #afccd8;
    width: 200px;
    /* padding: 30px; */
    /* padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 35px;
    padding-left: 15px; */
    padding: 20px 30px 35px 155px;
    /* border: 2px solid rgb(95, 28, 202); */
    border-top: 10px solid rgb(95, 28, 202);
    border-bottom: 10px solid rgb(15, 90, 177);
    border-right: 10px solid rgb(28, 202, 187);
    border-left: 10px solid rgb(202, 112, 28);
    /* border-bottom-color: #afccd8; */
    /* border-bottom-style: dotted; */
    /* margin: 50px; */
    /* margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 20px; */
    margin: auto;
    
}