@charset "utf-8";
/* CSS Document */
/*

*{
    font-family:Verdana, Geneva, sans-serif;
    font-size: 20px;
}

div{
    border: 1px dashed #345fff;
}
*/

/*div[class]{
    color: #b40f14;
}*/

/*div[class="myclass"]{
    background-color: #ccff8c;
}*/
div[class~="myclass"]{
    color: #25acff;
}


























