main
{
    width: 1026px;
    margin: auto;
    height: 500px;
    background-color: aquamarine;
}
section
{
    overflow: hidden;
}
h3
{
    margin: 0;
}
a
{
    color: #000;
    text-decoration: none;
}
a:hover
{
    color: rgb(73, 73, 245);
    text-decoration: underline;
}
figure
{
    width: 312px;
    float: left;
    margin: 12px 15px;
}
section:first-child
{
    border-bottom: 1px solid grey;
}
section figure:last-child
{
    float: right;
}