p
{
    padding: 10px 0 0 10px;
}
a
{
    color: #fff;
    text-decoration: none;
}
a:hover
{
    color: #000;
    text-decoration: underline;
}
figure
{
    margin: auto;
}
figcaption
{
    margin: -13px -20px;
}
figure.large
{
    padding: 10px 30px;
}
figure.icon
{
    padding: 25px 29px;
}
figure.icon > figcaption
{
    margin: 10px -15px;
}
#container
{
    width: 690px;
    height: 550px;
    margin: auto;
    background-color: rgb(116, 109, 109);
    color: #fff;
    overflow: hidden;
    
}
#container section:last-child p
{
    margin-top: -5px;
}
#container > section:first-child > div:first-child
{
    float: left;
}
#container > section:first-child > div:last-child
{
    float: right;
    margin-right: 10px;
}
.clear
{
    clear: both;
    padding-top: 10px;
}
.boxDefault
{
    height: 100px;
    background: rgb(255, 98, 98);
    margin-left: 10px;
}
.miniBox
{
    width: 100px;
    float: left;
}
.largeBox
{
    width: 210px;
    float: left;
}
.akashi
{
    background-color: rgba(68, 125, 248, 0.973) ;
}
.khoyeri
{
    background: rgb(255, 164, 104)
}