@import url('normalize.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('all.min.css');


/*Global CSS*/
*, *::before, *::after
{
    box-sizing: border-box;
}
body{
    background-color: #fdfaf8;
    font-family: 'Roboto', sans-serif;
}
section
{
    padding-top: 115px;
    padding-bottom: 120px;
}
.container{
    width: 1170px;
    margin: auto;
}
.col-3
{
    width: 25%;
    float: left;
    padding: 0 15px;
}
.row
{
    overflow: hidden;
    margin: 0 -15px;
}
/*
.row div:first-child
{
    padding-left: 0;
}
.row div:first-child
{
    padding-right: 0;
} */
figure, p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
a{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
h4
{
    color: #040404;
    font-size: 36px;
    margin-bottom: 43px;
    text-align: center;
    text-transform: uppercase;
}
section > .container > p
{
    color: #262627;
    font-style: 18px;
    text-align: center;
    line-height: 1.6em;
}
section > .container > p:nth-of-type(2)
{
    margin-bottom: 70px;
}
/*Style for Header*/
header{
    padding-top: 20px;
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

header > .container{
    overflow: hidden;
}

header > .container > figure{
    float: left;
    margin-top: 15px;
}

header > .container > nav{
    float: right;
    margin-top: 45px;
    margin-bottom: 150px;
}

header > .container > nav > ul > li{
    display: inline-block;
    margin-right: 20px;
}

header > .container > nav > ul > li > a{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
}
header > .container > nav > ul > li > a:hover{
    color: #87d37c;
}
header > .container > nav > ul > .active > a{
    color: #87d37c;
}

header > .container > div{
    clear: both;
    margin-bottom: 200px;
}

header > .container > div > h1{
    color: #fefbfc;
    font-size: 96px;
    width: 637px;
    padding: 35px;
    border: 3px solid #fdfdfd;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

header > .container > div > h2{
    color: #FFFFFF;
    font-size: 40px;
}
header > .container > div > h3{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: normal;
}
/* Style for About Us */
#aboutUs
{
    background-color: #fdfafa;
}
#aboutUs > .container > .row > .col-3 > p
{
    text-align: justify;
}