section
{
    width: 500px;
    height: 500px;
    margin: auto;
    background-color: #d8ffd7;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center left;
}