section
{
    width: 760px;
    margin: auto;
    position: relative;
}
a
{
    color: black;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: rgba(85, 12, 12, 0.815)
}
img
{
    margin: 0;
    position: absolute;
    top: 23px;
    width: 155px;
}
aside
{
    position: absolute;
    top: 0px;
    right: -20px;
    width: 195px;
}
#newsSectionOne
{
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    border-right: 1px solid rgba(128, 128, 128, 0.322);
    padding: 15px;
}
#newsSectionTwo
{
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    padding: 15px;
}
#newsSectionTwo > div:last-child
{
    position: relative;
}
.newsDemo
{
    border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}


