section{
    color: #000;
    width: 700px;
    height: 450px;
    margin: auto;
    position: relative;
    padding: 20px;
}
div{
    border-right: 1px solid #efefef;
}
a{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: #008c00;
}

.active{
    color: chocolate;
}
#shift{
    position: absolute;
    width: 312px;
    top: 0;
    left: 0;
    padding: 18px;

}
h2{
    width: 230px;
}
#artsAndEntertainment{
    position: absolute;
    width: 312px;
    top: 0;
    right: 0;
    padding: 18px;
}




















/*
p{
    margin:0;
    padding: 0px;
    font-size: larger;
}

a:hover{
    color: #188b4d;
}

a:visited{
    color: #ff2c31;
}

a:active{
    color: #27e4ff;
}



#main{
    margin:auto;
    position: relative;
    width:650px;
}
#first{
    left: 0;
    width:314px;
    top:26px;
    position:absolute;
    margin:auto;

}

#second{
    right:0;
    top:26px;
    width: 314px;
    position: absolute;
    margin:auto;
}*/
