@import url(normalize.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Global CSS */
body
{
    font-family: 'Roboto', sans-serif;
    background-color: #fdfaf8;
}
.container
{
    width: 1170px;
    margin: auto;
}
figure
{
    margin: 0;
    padding: 0;
}
ul
{
    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;
}
.text-center
{
    text-align: center;
}
h1,h2,h3,h4,h5,h6,div,figure,section
{
    margin: 0;
}
/* Style for Header */
header
{
    padding-top: 20px;
    padding-left: 40px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
header > .container
{
    overflow: hidden;
}
header > .container > figure
{
    margin: 15px;
    float: left;
}
header > .container > nav
{
    float: right;
    margin-top: 45px;
    margin-bottom: 150px;
}
header > .container > nav > ul > li
{
    display: inline-block;
    margin-right: 20px;
}
header > .container > nav > ul > li > a
{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;

}
header > .container > nav > ul > li > a:hover
{
    color: #87d37c;
}
header > .container > nav > ul > li.active > a
{
    color: #87d37c;
}
header > .container > div
{
    clear: both;
    margin: auto;
    margin-bottom: 203px;
}
header > .container > div > h1
{
    width: 585px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px;
    color: #fff;
    border: 3px solid #fefbfc;
    font-size: 100px;
}
header > .container > div > h1 > span
{
    color: #87d37c;
}
header > .container > div > h2
{
    color: #fff;
    font-size: 40px;
}
header > .container > div > h3
{
    color: #fff;
    font-size: 36px;
    font-weight: normal;
}