section{
    width: 720px;
    height: 300px;
    margin: auto;
    position: relative;
    padding: 10px;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #581bba;
    text-decoration: none;
    border-bottom: 2px solid #581bba  ;
}

div{
    padding: 10px;
}

figure, p, h3{
    margin: 0;
}

section > div:first-child{
    position: absolute;
    width: 335px;
    top: 0;
    left: 0;
    padding-right: 25px;
    border-right: 1px solid #dedede;
}

section > div:last-child{
    position: absolute;
    width: 335px;
    top: 0;
    right: 0;
    padding-left: 25px;
}

section > div:first-child > div:first-child{
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}

section > div:last-child > div:last-child{
    position: relative;
}

section > div:last-child > div:last-child > figure{
    position: absolute;
    width: 155px;
    left: 0;
    top: 17px;
}

section > div:last-child > div:last-child > div{
    position: absolute;
    width: 155px;
    right: 0;
    top: 0;
}

section > div:last-child > div:first-child{
    padding-bottom: 15px;
    border-bottom: 1px solid #dedede;
}