#container{
    background-color: #4bff0d;
    width: 70%;
    margin: auto;
    overflow: hidden;
}
p{
    background-color: #FF9900;
    margin: 0;
}
#leftPane{
    background-color: #FF3333;
    width: 40%;
    height: 300px;
    float: left;
}
#rightPane{
    background-color: #ffe9af;
    width: 40%;
    height: 400px;
    float: right;
}
#endDiv{
    background-color: #3f5b9a;
    clear: both;
}

section{
    background-color: #00d7d7;
}
