#container{
    background-color: #6699FF;
    width: 300px;
    border: 3px solid #3f5b9a;
    margin: auto;
    color: #FFFFFF;
}
span{
    background-color: #ffb2c1;
    display: block;
}
p{
    margin: 0;
    background-color: #74a056;
}

#content{
    background-color: #FF0000;
    width: 100px;
  /*  float: right;*/
    float: left;
}

