*, *::before, *::after
{
    box-sizing: border-box;
}
nav {
    background: #990c0c;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav>ul>li {
    float: left;
    list-style: none;
}

ul > li > a {
    padding: 13px 10px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}

a {}

ul > li > a :hover {
    background: #fff;
}

ul > li > a:hover, ul > li > a.active{
    background: #fff;
    color: #990c0c;
    transition: 0.5s;
}
section#Greetings {
    background: #8211ca;
    height: 300px;
    position: relative;
}

.container {
    width: 1140px;
    margin: auto;
}

.row {
    overflow: hidden;
    margin: 0 -15px;
}

.text-center {
    text-align: center;
}

.col-12 {
    width: 100%;
    float: left;
    padding: 0 15px;
}

h1 {
    color: #fff;
    font-weight: bold;
    font-size: 46px;
    position: absolute;
    top: 39%;
    left: 27%;
}

.megaRecipe {
    background: aliceblue;
}

.col-6 {
    float: left;
    padding: 0px 15px;
    width: 50%;
}
figure, p
{
    margin: 0;
}
figure img {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

#healthCaution {
    background: cadetblue;
}

section {
    padding: 80px 0;
}

.col-4 {
    width: 33.3333%;
    float: left;
    padding: 0 15px;
}

h4.recipeHeading {
    font-weight: 700;
    font-size: 24px;
    color: #882d2d;
    padding-bottom: 10px;
    text-decoration: underline;
}

h1, h3, h4 {
    margin: 0;
}

#healthCaution p {
    font-size: 20px;
    text-align: justify;
    line-height: 1.2;
    color: #efe9e9;
}

figcaption p {
    text-align: justify;
    line-height: 1.3;
    font-size: 1.2rem;
}

.star {
    color: goldenrod;
    padding: 10px 0;
}
small {
    color: #bab4b4;
    font-size: 50%;
}