#container{background:#F00;
    width:70%;
    margin:auto;
    overflow: hidden;
}

#leftPane{
    background:#0C0;
    width:25%;
    height:550px;
    float:left;
}

#content{
    background:#06F;
    width:50%;
    height:600px;
    float:left;
}

#rightPane{
    background:#FF0;
    width:25%;
    height:600px;
    float:right;
}

p{background-color:#C09;
    margin:0;
}


footer{
    background-color:#F90;
    clear:both;
}

section{background-color: #00d7d7;}