@charset "utf-8";
/* CSS Document */

#content{
    background-color: #6699FF;
    width: 200px;
    margin: 0 auto;
    padding: 30px;
    /*padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 45px;*/
    /*padding: 20px 30px 40px 45px ;*/
    /*padding: 20px 30px 40px ;*/
    /*padding: 20px 30px 40px 0 ;*/
    /*padding: 20px 30px ;*/
    /*padding: 20px 30px 0 0 ;*/
    border: 3px solid #100fff;
    /*border-top: 3px solid #100fff;
    border-right: 3px dotted #100fff;
    border-bottom: 3px dashed #100fff;
    border-left: 3px double #100fff;*/
    /*margin: 30px;*/
    /*margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
    margin-left: 50px;*/
    /*margin: 30px 40px 20px 50px;*/
    /*margin: 30px 40px 50px;*/
    /*margin: 30px 40px 50px 0;*/
    /*margin: 30px 40px;*/

}

.cssShortCut{
    background-color: #6699FF;
    width: 150px;
    padding: 15px;
    border: 2px solid #100fff;
    margin: 30px;
   /* float: left;*/
}
/*.cTest{
    margin: 10px;
}*/






















	 


