/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@import url('all.min.css');
@import url(normalize.css);
*, *::before, *::after
{
    box-sizing: border-box;
}
body {
    background-color: #f9f9f9;
    margin: 0;
}
.container {
    width: 1170px;
    margin: auto;
}
section{
    padding-top: 80px;
    padding-bottom: 80px ;
}

h1, h2, h3, h4, h5, h6{
    color: #444444;
    margin: 0;
}
h3{
    font-size: 18px;
    padding-bottom: 30px;
    text-transform: uppercase;
}
h4{
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 12px;
}
figure{
    margin: 0;
}
p{
    color: #666666;
    font-size: 14px;
    margin: 0;
    line-height: 1.7;
}
ul{
    margin: 0;
    padding: 0;
}
.text-center{
    text-align: center;
}
a{
    text-decoration: none;
}
.row{
    overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
}
.col-2 {
    width: 16.6667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-3 {
    width: 25%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-4{
    width: 33.3333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-6 {
    width: 50%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-5 {
    width: 41.6667%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-7 {
    width: 58.3333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-10 {
    width: 83.3333%;
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}


/*Style for Header*/

header > .container{
    overflow: hidden;
}
header > .container > figure{
    float: left;
}

header figure > figcaption{
    position: relative;
    bottom: 50px;
    left: 98px;
}
header > .container > nav{
    float: right;
    padding-top: 35px;
}

header > .container > nav > ul > li{
    display: inline-block;
    margin-right: 50px;
}
header > .container > nav > ul > li > a{
    color: #000000;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

/*Style for Banner*/

#banner{
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner > h1{
    color: #ffffff;
    font-size: 50px;
    padding-top: 240px;
    padding-bottom: 20px;
}
#banner > h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 280px;
}
/* Style for Services */

#services > .container > .row > .col-4 > figure {
    background-color: #FFFFFF;
    padding: 15px;
   border: 1px solid #e3e3e3;
}

#services > .container > h2 {
    font-size: 30px;
    font-weight: normal;
}

#services > .container > p {
    font-size: 14px;
    padding-top: 25px;
    padding-bottom: 80px;
}


/* Style for Instragram Section */
#instragram {
    background-color: #2c2c2c;
}
#instragram > .container > h3 {
    color: #d5d5d5;
}
#instragram > .container > .row > .col-4 > figure > figcaption{
    display: none;
}
#instragram > .container > .row > .col-4 > figure{
    position: relative;
}
#instragram > .container > .row > .col-4:hover > figure > figcaption{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    width: 100%;
    height: 100%;
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    padding-top: 135px;
}
#instragram > .container > a.btn
{
    color: #a6a6a6;
    display: inline-block;
    padding: 18px 30px;
    border: 1px solid #a6a6a6;
    margin-top: 33px;
    text-transform: uppercase;
}

/*Style for Photographer Section*/
#photographer #aboutMe > .row > figure{
    padding-top: 8px;
}
#photographer #aboutMe > .row p:first-child{
    line-height: 1.8;
    padding-bottom: 18px;
}

#photographer #myServices .row{
    padding-bottom: 30px;
}

#photographer #myServices > .row > .col-2 > i{
    padding-left: 12px;
    color: #28b8d8;
}

#photographer #myServices > .row > .col-10 > h5{
    font-size: 17px;
}
footer{
    background-color: #333333;
    padding-top: 35px;
    padding-bottom: 25px;
    margin-bottom: 100px;
}
footer .fa-ul > li{
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid #FFFFFF;
    border-radius: 100%;
    margin-right: 20px;
}
footer .fa-ul > li > a{
    color: #FFFFFF;
}
footer .fa-ul > li > a > i{
    position: relative;
    top: 5px;
    left: 10px;
}
footer .fa-ul > li:nth-child(2) > a > i, footer .fa-ul > li:nth-child(3) > a > i{
    left: 6px;
}
footer .fa-ul > li:last-child > a > i
{
    left: 4px;
}

footer .fa-ul > li:hover{
    border-color: #000000;
}

footer .fa-ul > li:hover > a{
    color: #000000;
}





/* Style for Journal */
/*#journal
{
    background: #f7f7f7;
}
#journal > .container
{
    margin-bottom: 80px;
}
#journal > .container > h3
{
    margin-top: 80px;
    margin-bottom: 25px;
    color: #444444;
    font-size: 18px;
    text-transform: uppercase;
}
#journal > .container > .col-4
{
    box-sizing: unset;
    border: 1px solid #efe8e8;
    margin-right: 30px;
    margin-left: 0px;
    width: 31.45%;
}
#journal > .container > div:last-child {
    margin-right: 0px;
    float: right;
}
#journal > .container > .col-4 > h4
{
    color: #444444;
    font-size: 1.25rem;
    font-weight: normal;
}
#journal > .container > .col-4:hover  h4
{
    font-weight: bold;
}
#journal > .container > .col-4 > figure > figcaption > p
{
    padding-top: 28px;
    padding-left:20px;
}
#journal > .container > .col-4 > figure > figcaption > a.contRead
{
    display: inline-block;
    margin-bottom: 24px;
    margin-left: 20px;
    border-bottom: 1px solid #28b8d8;
    text-transform: uppercase;
    font-size: 11px;
    color: #999999;
}*/
/* Style for about me */
/*#aboutMe > .container
{
    padding: 50px 0;
}
#aboutMe > .container > .col-6 > h4
{
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0;
}
#aboutMe > .container > .col-6 > img {
    margin-right: 20px;
    float: left;
}
#aboutMe > .container > .col-6 > p {
    margin: 0;
    padding: 0;
}
#aboutMe > .container > .col-6 > p:nth-of-type(2) {
    margin-top: 20px;
}
.services-details
{
    overflow: hidden;
}
.services-details h5
{
    text-transform: uppercase;
}
.services-details > p:first-child {
    width: 8%;
    float: left;
}

.services-details > div {
    float: right;
    width: 92%;
    position: relative;
    top: 18px;
}

.services-details > p > i
{
    color: #28b8d8;
    width: 40px;
    height: 35px;
}*/
/*Style for Upper Footer*/
/*#footer
{
    background-color: rgba(14, 5, 19, 0.82);
    color: #fffde7;
}
#footer > .container
{
    padding: 50px 0;
}
#footer > .container > .col-3
{
    padding: 0 15px;
}
#footer > .container > .col-3:first-child
{
    padding-left:0;
}
#footer > .container > .col-3:last-child
{
    padding-right:0;
}
#footer > .container > .col-3 > h4
{
    text-transform: uppercase;
}
#footer > .container > .col-3 > p
{
    line-height: 1.5em;
}
#footer > .container > .col-3 > p > span.date
{
    color: dimgrey;
    display: block;
}*/
/*Style for Footer*/
/*footer
{
    background-color: rgba(20, 13, 28, 0.96);
    color: #efefef;
    padding: 22px 0;
}
footer > .container > p
{
    width: 50%;
    float: left;
    margin: 0;
    padding-top: 12px;
}
footer > .container > div
{
    float: right;
    padding: 0;
}
footer > .container > div > a
{
    padding: 7px 11px;
    font-size: 22px;
    margin: 0 10px;
    display: inline-block;
    color: #efefef;
    width: 40px;
    height: 40px;
    border: 1px solid #efefef;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
footer > .container > div > a.activeSocial
{
    color: #000;
    border: 1px solid #000;

}*/

